body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    height: 80px;
}

.big-logo img {
    height: 30vh;
    max-height: min(200px, 45.8vw);
    max-width: min(393px, 90vw)
}

main {
    background-color: hsl(0,0%,10%);
    flex: 1;
    display: flex;
    flex-direction: row;
}

.results-box {
    flex: 0 250px;
    padding: 20px;
}

.user-info {
    position: absolute;
    right: 0;
    text-align: right;
    padding: 20px;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

footer {
    flex: 0 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > * {
    margin: 5px !important;
}

p {
    width: 80%;
}

#quote {
    width: 90%;
}

#author {
    float: right;
    font-weight: bold;
    font-style: italic;
}

#title-desc {
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-row > * {
    margin-left: 5px;
    margin-right: 5px;
}

menu > li {
    list-style-type: none;
    margin: 3px;
}

menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}